.topHeaderContainer {
  background: rgba(250, 250, 250, 0.1);
  padding: 5px 15px;
  color: rgba(250, 250, 250, 0.7);
  font-size: 0.9em;
  letter-spacing: 1.2px;
}
.topHeader {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.containerSocialNetworks {
  display: flex;
  gap: 0.75em;
  align-items: center;
}

.desktopMenu {
  display: none;
}
.containerBtns {
  display: flex;
  gap: 1em;
}
.hamburguerBtn {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.mobileMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
}
.mobileMenu .menu {
  list-style: none;
  text-align: center;
}
.mobileMenu .menu {
  position: absolute;
  width: 100%;
  z-index: 9999;
  right: 0;
  top: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.5em;
}
.mobileMenu .menu span {
  transition: color 0.3s;
  display: inline-block;
  padding: 0.25em;
}

.mobileMenu .menu a:hover span {
  color: #efb810;
}

@media screen and (min-width: 820px) {
  .mobileMenu {
    display: none;
  }
  .desktopMenu {
    display: block;
  }
  .hamburguerBtn {
    display: none;
  }
}
